#root {
  height: 100%;
}
.basic-layout {
  height: 100%;
  .header {
    display: flex;
    .logo {
      width: 100px;
      margin-right: 50px;
      text-align: center;
      color: #fff;
    }
  }
}
